<div class="sidebar">
  <a class="active"><i class="fa fa-fw fa-home"></i>Home</a>

  <a [matMenuTriggerFor]="Sites"> <i class="fa fa-globe"></i>Sites </a>
  <mat-menu #Sites="matMenu">
    <a mat-menu-item routerLink="create-site">Add site</a>
    <a mat-menu-item routerLink="list-sites">My Sites</a>
  </mat-menu>

  <a [matMenuTriggerFor]="Zones"> <i class="fa fa-anchor"></i>Zones </a>
  <mat-menu #Zones="matMenu">
    <a mat-menu-item routerLink="create-zone">add Zone</a>
    <a mat-menu-item>My Zones</a>
  </mat-menu>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
