<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSaveZone()" *ngIf="!isLoading">
    <mat-form-field>
      <mat-label>Select a Site</mat-label>
      <mat-select formControlName="site" [(value)]="selected">
        <mat-option *ngFor="let site of sites" value="{{ site.id }}">
          {{ site.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter the name of the zone</mat-label>
      <input matInput formControlName="name" type="text" />
      <mat-error *ngIf="form.get('name')!.invalid"
        >Please provide a valid name for the zone</mat-error
      >
    </mat-form-field>

    <button mat-raised-button color="accent" type="submit">Save zone</button>
  </form>
</mat-card>
