<mat-card class="mat-card">
  <form (submit)="onResetPassword(loginForm)" #loginForm="ngForm">
    <h1 style="text-align: center">Forgot Your Password</h1>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        name="password"
        ngModel
        type="password"
        #passwordInput="ngModel"
        required
      />
      <mat-error *ngIf="passwordInput.invalid && !equal">
        Please provide a valid password
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter confirm your Password</mat-label>
      <input
        type="password"
        name="passwordConfirm"
        ngModel
        #passwordInput="ngModel"
        matInput
        required
      />
      <mat-error *ngIf="passwordInput.invalid && !equal"
        >Please provide a valid password</mat-error
      >
    </mat-form-field>
    <mat-error *ngIf="!equal">your two passwords doesn't match </mat-error>
    <button mat-raised-button color="accent" type="submit">
      Reset Password
    </button>
  </form>
</mat-card>
